<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>You Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" sizeMd="6" offsetMd="3">
        <ion-list>
          <ion-item-sliding *ngFor="let booking of loadedBookings" #sliddingBooking>
            <ion-item>
              <ion-label>
                <h5>{{booking.placeTitle}}</h5>
                <p>Guests: {{booking.guestNumber}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="danger" (click)="onCancelBooking(booking.id, sliddingBooking)">
                <ion-icon name="trash"></ion-icon>&nbsp;Cancel
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
