<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding" fixed>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="5" sizeSm="4" sizeMd="2" offsetSm="2" offsetMd="4">
        Row 1 col 1
      </ion-col>
      <ion-col size="1" sizeSm="4" sizeMd="2">
        <ion-card>
          <ion-card-content>
            <h1>Row 1</h1>
            <p>Col 2</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        row 2 col 1
      </ion-col>
      <ion-col>
        row 2 col 2
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
